body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: self-start;
  padding: 0rem 5rem;
  background-color: white;
  flex-wrap: wrap;
  justify-content: unset;
}

.navbar-brand img {
  width: 70px;
  height: 40px;
  padding-top: 5px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin-left: 1rem;
  padding: 0;
}
.navbar-links a {
  color: #666;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s, border-bottom 0.3s;
}

.navbar-links a:hover {
  color: black;
  border-bottom: 3px solid purple;
}

.navbar-links a {
  color: #666;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s, border-bottom 0.3s;
}

.navbar-links a:hover {
  color: black;
  border-bottom: 3px solid purple;
}

.register-btn {
  background-color: purple;
  color: white;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

/******* Main Section **********/
.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  margin-inline: auto;
  background-color: white;
}

.main-section .headline {
  flex: 1;
  padding: 10px;
}

.main-section .headline h2 {
  font-size: 26px;
  color: black;
  margin: -60px 0 40px;
}

.main-section .headline p {
  font-size: 1rem;
  color: black;
}

.main-image {
  flex: 1;
  text-align: right;
}

.main-image img {
  width: 80%;
  height: auto;
  max-width: 250px;
}

/******* Popular Blogs Section *********/
.popular-blogs {
  padding: 20px 1rem;
  text-align: center;
  margin: auto;
  width: 90%;
}

.section-info {
  display: flex;
  gap: 6px;
}

.section-info h4 {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
}

.section-info h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: purple;
  transition: width 0.3s ease-in-out;
}

.section-info h4:hover::after {
  width: 100%;
}

.popular-blogs h4 {
  font-size: 20px;
  text-align: justify;
  margin: 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.blog-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s;
}

.blog-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog-card h4 {
  font-size: 14px;
  color: black;
  margin: 10px 0 5px;
}

.blog-card p {
  color: #666;
  font-size: 0.9rem;
}

.blog-info {
  padding: 10px;
}

.blog-read-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.blog-read-more p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

/******** CTA Section ************/
.cta-section {
  display: flex;
  background-color: #e6d9f6;
  margin: auto;
  width: 90%;
  border-radius: 25px;
}

.cta-section img {
  border-radius: 25px 0px 0px 25px;
}

.cta-content {
  padding-left: 20px;
}

.cta-content h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.cta-content button {
  color: purple;
  border-style: solid;
  border-color: purple;
  border-width: 2px;
  border-radius: 25px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

/****** Responsive Styling ************/
@media (max-width: 768px) {
  .navbar {
    padding: 1rem 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    gap: 10px;
  }

  .main-section {
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 20px auto;
  }

  .main-section .headline h2 {
    font-size: 24px;
    margin: 46px 100px 56px -14px;
  }

  .main-section .headline p {
    font-size: 18px;
    color: black;
    margin: 46px 88px 56px -60px;
  }

  .main-image img {
    width: 80%;
    display: none;
  }

  .popular-blogs {
    padding: 20px 1rem;
    width: 90%;
  }

  .blog-grid {
    grid-template-columns: 1fr;
  }

  .cta-section {
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
  }

  .cta-section img {
    width: 100%;
    margin-bottom: 10px;
  }
}
